@page "/create_invoice"
@using Pms.Models.Entity
 
<div class="offcanvas offcanvas-end" id="offcanvasRight" tabindex="-1" aria-labelledby="offcanvasRightLabel" style="width: 55%;">
    <div class="offcanvas-header">
       @*  <div class="card-header">
            <h5 class="mb-0" data-anchor="data-anchor">
                <i class="fas fa-arrow-left"></i>
                Customer/Buyer Profile
            </h5>
        </div> *@
        <button class="btn-close text-reset" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body bg-body-tertiary">
        <CustomerEntry/>
    </div>
</div>

<div class="offcanvas offcanvas-end" id="offcanvasRight-1" tabindex="-1" aria-labelledby="offcanvasRightLabel" style="width: 55%;">
    <div class="offcanvas-header">
        <div class="card-header">
            <h5 class="mb-0" data-anchor="data-anchor">
                <i class="fas fa-arrow-left"></i>
                Choose Product
            </h5>
        </div>
        <button class="btn-close text-reset" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content border-0">
                <div class="modal-body p-0">
                    <div class="d-lg-flex justify-content-between">
                        <div class="row flex-between-center gy-2 px-x1 mb-2">
                            <div class="col-auto pe-0">

                                <div class="input-group input-search-width">
                                    <input class="form-control form-control-sm shadow-none" type="search" placeholder="Search  by name" aria-label="search"/>
                                    <button type="button" class="btn btn-sm btn-outline-secondary border-300 hover-border-secondary" >
                                        <span class="fa fa-search fs-10"></span>

                                    </button>
                                 
                                </div>

                            </div>
                            <div class="col-auto">
                                <button class="btn btn-falcon-default btn-sm ms-sm-1" type="button"><span class="fas fa-redo"></span></button>
                            </div>
                             </div>
                         </div>
                            <div class="row g-0">
                        <div class="col-md-4 ps-md-2">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <div class="row flex-between-end">
                                        <div class="col-9 align-self-center">
                                            <h5 class="mb-0" data-anchor="data-anchor">Laptop</h5>
                                        </div>
                                        <div class="col-2 ms-auto">
                                            <div class="form-check mb-0">
                                                <input class="form-check-input" type="checkbox" data-bulk-select='{"body":"bulk-select-body","actions":"bulk-select-actions","replacedElement":"bulk-select-replace-element"}' />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body bg-body-tertiary">
                                    <div class="tab-content">
                                        <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-e2974953-80a9-41ad-8d3e-132f02b29646" id="dom-e2974953-80a9-41ad-8d3e-132f02b29646">
                                            <div class="avatar avatar-4xl">
                                                <img class="rounded-soft" src="assets/img/products/1.jpg" alt="" />

                                            </div>
                                        </div>
                                        <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-ba85f65e-9df1-4934-9499-57a593ae7191" id="dom-ba85f65e-9df1-4934-9499-57a593ae7191">
                                            <pre class="scrollbar rounded-1" style="max-height:420px">
                                                <code class="language-html">&lt;div class=&quot;avatar avatar-4xl&quot;&gt;
                                                     &lt;img class=&quot;rounded-soft&quot; src=&quot;assets/img/products/1.jpg&quot; alt=&quot;&quot; /&gt;
                                                     &lt;/div&gt;
                                                </code>
                                            </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ps-md-2">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <div class="row flex-between-end">
                                        <div class="col-9 align-self-center">
                                            <h5 class="mb-0" data-anchor="data-anchor">Laptop</h5>
                                        </div>
                                        <div class="col-2 ms-auto">
                                            <div class="form-check mb-0">
                                                <input class="form-check-input" type="checkbox" data-bulk-select='{"body":"bulk-select-body","actions":"bulk-select-actions","replacedElement":"bulk-select-replace-element"}' />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body bg-body-tertiary">
                                    <div class="tab-content">
                                        <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-e2974953-80a9-41ad-8d3e-132f02b29646" id="dom-e2974953-80a9-41ad-8d3e-132f02b29646">
                                            <div class="avatar avatar-4xl">
                                                <img class="rounded-soft" src="assets/img/products/1.jpg" alt="" />

                                            </div>
                                        </div>
                                        <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-ba85f65e-9df1-4934-9499-57a593ae7191" id="dom-ba85f65e-9df1-4934-9499-57a593ae7191">
                                            <pre class="scrollbar rounded-1" style="max-height:420px">
                                            <code class="language-html">&lt;div class=&quot;avatar avatar-4xl&quot;&gt;
                                                     &lt;img class=&quot;rounded-soft&quot; src=&quot;assets/img/products/1.jpg&quot; alt=&quot;&quot; /&gt;
                                                     &lt;/div&gt;
                                                </code>
                                            </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ps-md-2">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <div class="row flex-between-end">
                                        <div class="col-9 align-self-center">
                                            <h5 class="mb-0" data-anchor="data-anchor">Laptop</h5>
                                        </div>
                                        <div class="col-2 ms-auto">
                                            <div class="form-check mb-0">
                                                <input class="form-check-input" type="checkbox" data-bulk-select='{"body":"bulk-select-body","actions":"bulk-select-actions","replacedElement":"bulk-select-replace-element"}' />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body bg-body-tertiary">
                                    <div class="tab-content">
                                        <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-e2974953-80a9-41ad-8d3e-132f02b29646" id="dom-e2974953-80a9-41ad-8d3e-132f02b29646">
                                            <div class="avatar avatar-4xl">
                                                <img class="rounded-soft" src="assets/img/products/1.jpg" alt="" />

                                            </div>
                                        </div>
                                        <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-ba85f65e-9df1-4934-9499-57a593ae7191" id="dom-ba85f65e-9df1-4934-9499-57a593ae7191">
                                            <pre class="scrollbar rounded-1" style="max-height:420px">
                                                <code class="language-html">&lt;div class=&quot;avatar avatar-4xl&quot;&gt;
                                                     &lt;img class=&quot;rounded-soft&quot; src=&quot;assets/img/products/1.jpg&quot; alt=&quot;&quot; /&gt;
                                                     &lt;/div&gt;
                                                </code>
                                            </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ps-md-2">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <div class="row flex-between-end">
                                        <div class="col-9 align-self-center">
                                            <h5 class="mb-0" data-anchor="data-anchor">Laptop</h5>
                                        </div>
                                        <div class="col-2 ms-auto">
                                            <div class="form-check mb-0">
                                                <input class="form-check-input" type="checkbox" data-bulk-select='{"body":"bulk-select-body","actions":"bulk-select-actions","replacedElement":"bulk-select-replace-element"}' />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body bg-body-tertiary">
                                    <div class="tab-content">
                                        <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-e2974953-80a9-41ad-8d3e-132f02b29646" id="dom-e2974953-80a9-41ad-8d3e-132f02b29646">
                                            <div class="avatar avatar-4xl">
                                                <img class="rounded-soft" src="assets/img/products/1.jpg" alt="" />

                                            </div>
                                        </div>
                                        <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-ba85f65e-9df1-4934-9499-57a593ae7191" id="dom-ba85f65e-9df1-4934-9499-57a593ae7191">
                                            <pre class="scrollbar rounded-1" style="max-height:420px">
                                                <code class="language-html">&lt;div class=&quot;avatar avatar-4xl&quot;&gt;
                                                     &lt;img class=&quot;rounded-soft&quot; src=&quot;assets/img/products/1.jpg&quot; alt=&quot;&quot; /&gt;
                                                     &lt;/div&gt;
                                                </code>
                                            </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ps-md-2">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <div class="row flex-between-end">
                                        <div class="col-9 align-self-center">
                                            <h5 class="mb-0" data-anchor="data-anchor">Laptop</h5>
                                        </div>
                                        <div class="col-2 ms-auto">
                                            <div class="form-check mb-0">
                                                <input class="form-check-input" type="checkbox" data-bulk-select='{"body":"bulk-select-body","actions":"bulk-select-actions","replacedElement":"bulk-select-replace-element"}' />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body bg-body-tertiary">
                                    <div class="tab-content">
                                        <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-e2974953-80a9-41ad-8d3e-132f02b29646" id="dom-e2974953-80a9-41ad-8d3e-132f02b29646">
                                            <div class="avatar avatar-4xl">
                                                <img class="rounded-soft" src="assets/img/products/1.jpg" alt="" />

                                            </div>
                                        </div>
                                        <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-ba85f65e-9df1-4934-9499-57a593ae7191" id="dom-ba85f65e-9df1-4934-9499-57a593ae7191">
                                            <pre class="scrollbar rounded-1" style="max-height:420px">
                                                <code class="language-html">&lt;div class=&quot;avatar avatar-4xl&quot;&gt;
                                                     &lt;img class=&quot;rounded-soft&quot; src=&quot;assets/img/products/1.jpg&quot; alt=&quot;&quot; /&gt;
                                                     &lt;/div&gt;
                                                </code>
                                            </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ps-md-2">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <div class="row flex-between-end">
                                        <div class="col-9 align-self-center">
                                            <h5 class="mb-0" data-anchor="data-anchor">Laptop</h5>
                                        </div>
                                        <div class="col-2 ms-auto">
                                            <div class="form-check mb-0">
                                                <input class="form-check-input" type="checkbox" data-bulk-select='{"body":"bulk-select-body","actions":"bulk-select-actions","replacedElement":"bulk-select-replace-element"}' />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body bg-body-tertiary">
                                    <div class="tab-content">
                                        <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-e2974953-80a9-41ad-8d3e-132f02b29646" id="dom-e2974953-80a9-41ad-8d3e-132f02b29646">
                                            <div class="avatar avatar-4xl">
                                                <img class="rounded-soft" src="assets/img/products/1.jpg" alt="" />

                                            </div>
                                        </div>
                                        <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-ba85f65e-9df1-4934-9499-57a593ae7191" id="dom-ba85f65e-9df1-4934-9499-57a593ae7191">
                                            <pre class="scrollbar rounded-1" style="max-height:420px">
                                            <code class="language-html">&lt;div class=&quot;avatar avatar-4xl&quot;&gt;
                                                     &lt;img class=&quot;rounded-soft&quot; src=&quot;assets/img/products/1.jpg&quot; alt=&quot;&quot; /&gt;
                                                     &lt;/div&gt;
                                                </code>
                                            </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ps-md-2">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <div class="row flex-between-end">
                                        <div class="col-9 align-self-center">
                                            <h5 class="mb-0" data-anchor="data-anchor">Laptop</h5>
                                        </div>
                                        <div class="col-2 ms-auto">
                                            <div class="form-check mb-0">
                                                <input class="form-check-input" type="checkbox" data-bulk-select='{"body":"bulk-select-body","actions":"bulk-select-actions","replacedElement":"bulk-select-replace-element"}' />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body bg-body-tertiary">
                                    <div class="tab-content">
                                        <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-e2974953-80a9-41ad-8d3e-132f02b29646" id="dom-e2974953-80a9-41ad-8d3e-132f02b29646">
                                            <div class="avatar avatar-4xl">
                                                <img class="rounded-soft" src="assets/img/products/1.jpg" alt="" />

                                            </div>
                                        </div>
                                        <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-ba85f65e-9df1-4934-9499-57a593ae7191" id="dom-ba85f65e-9df1-4934-9499-57a593ae7191">
                                            <pre class="scrollbar rounded-1" style="max-height:420px">
                                                <code class="language-html">&lt;div class=&quot;avatar avatar-4xl&quot;&gt;
                                                     &lt;img class=&quot;rounded-soft&quot; src=&quot;assets/img/products/1.jpg&quot; alt=&quot;&quot; /&gt;
                                                     &lt;/div&gt;
                                                </code>
                                            </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ps-md-2">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <div class="row flex-between-end">
                                        <div class="col-9 align-self-center">
                                            <h5 class="mb-0" data-anchor="data-anchor">Laptop</h5>
                                        </div>
                                        <div class="col-2 ms-auto">
                                            <div class="form-check mb-0">
                                                <input class="form-check-input" type="checkbox" data-bulk-select='{"body":"bulk-select-body","actions":"bulk-select-actions","replacedElement":"bulk-select-replace-element"}' />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body bg-body-tertiary">
                                    <div class="tab-content">
                                        <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-e2974953-80a9-41ad-8d3e-132f02b29646" id="dom-e2974953-80a9-41ad-8d3e-132f02b29646">
                                            <div class="avatar avatar-4xl">
                                                <img class="rounded-soft" src="assets/img/products/1.jpg" alt="" />

                                            </div>
                                        </div>
                                        <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-ba85f65e-9df1-4934-9499-57a593ae7191" id="dom-ba85f65e-9df1-4934-9499-57a593ae7191">
                                            <pre class="scrollbar rounded-1" style="max-height:420px">
                                                <code class="language-html">&lt;div class=&quot;avatar avatar-4xl&quot;&gt;
                                                     &lt;img class=&quot;rounded-soft&quot; src=&quot;assets/img/products/1.jpg&quot; alt=&quot;&quot; /&gt;
                                                     &lt;/div&gt;
                                                </code>
                                            </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ps-md-2">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <div class="row flex-between-end">
                                        <div class="col-9 align-self-center">
                                            <h5 class="mb-0" data-anchor="data-anchor">Laptop</h5>
                                        </div>
                                        <div class="col-2 ms-auto">
                                            <div class="form-check mb-0">
                                                <input class="form-check-input" type="checkbox" data-bulk-select='{"body":"bulk-select-body","actions":"bulk-select-actions","replacedElement":"bulk-select-replace-element"}' />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body bg-body-tertiary">
                                    <div class="tab-content">
                                        <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-e2974953-80a9-41ad-8d3e-132f02b29646" id="dom-e2974953-80a9-41ad-8d3e-132f02b29646">
                                            <div class="avatar avatar-4xl">
                                                <img class="rounded-soft" src="assets/img/products/1.jpg" alt="" />

                                            </div>
                                        </div>
                                        <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-ba85f65e-9df1-4934-9499-57a593ae7191" id="dom-ba85f65e-9df1-4934-9499-57a593ae7191">
                                            <pre class="scrollbar rounded-1" style="max-height:420px">
                                                <code class="language-html">&lt;div class=&quot;avatar avatar-4xl&quot;&gt;
                                                     &lt;img class=&quot;rounded-soft&quot; src=&quot;assets/img/products/1.jpg&quot; alt=&quot;&quot; /&gt;
                                                     &lt;/div&gt;
                                                </code>
                                            </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ps-md-2">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <div class="row flex-between-end">
                                        <div class="col-9 align-self-center">
                                            <h5 class="mb-0" data-anchor="data-anchor">Laptop</h5>
                                        </div>
                                        <div class="col-2 ms-auto">
                                            <div class="form-check mb-0">
                                                <input class="form-check-input" type="checkbox" data-bulk-select='{"body":"bulk-select-body","actions":"bulk-select-actions","replacedElement":"bulk-select-replace-element"}' />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body bg-body-tertiary">
                                    <div class="tab-content">
                                        <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-e2974953-80a9-41ad-8d3e-132f02b29646" id="dom-e2974953-80a9-41ad-8d3e-132f02b29646">
                                            <div class="avatar avatar-4xl">
                                                <img class="rounded-soft" src="assets/img/products/1.jpg" alt="" />

                                            </div>
                                        </div>
                                        <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-ba85f65e-9df1-4934-9499-57a593ae7191" id="dom-ba85f65e-9df1-4934-9499-57a593ae7191">
                                            <pre class="scrollbar rounded-1" style="max-height:420px">
                                                <code class="language-html">&lt;div class=&quot;avatar avatar-4xl&quot;&gt;
                                                     &lt;img class=&quot;rounded-soft&quot; src=&quot;assets/img/products/1.jpg&quot; alt=&quot;&quot; /&gt;
                                                     &lt;/div&gt;
                                                </code>
                                            </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    @* <div class="card-footer">
        <div class="row">
            <div class="pagination d-none"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <span class="d-none d-sm-inline-block me-2 fs-10">page 1 of 1, Total Record 9 </span>

                    </div>
                    <div class="col-md-2">

                        <PageSizeSelection SelectedPageSize="1" SelectedPageSizeChanged="HandlePageSizeChanged" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-auto d-flex justify-content-end">

                    <PaginationV2 TotalPages="1" CurrentPage="5" OnPageChange="ChangePage" />

                </div>
            </div>

        </div>

    </div> *@
</div>

 
    <div class="card mb-3">
    <div class="card-header">
        <h5 class="mb-0" data-anchor="data-anchor">
            <i class="fas fa-arrow-left"></i>
            Create Invoice
        </h5>
    </div>
    <div class="card-body bg-body-tertiary">
        <div class="tab-content">
            <div class="row g-3">
                <div class="col-lg-10 col-md-10 col-sm-10 col-10">
                    <EditForm Model="@invoice" OnValidSubmit="SaveOrUpdate">
                        <DataAnnotationsValidator />
                       
                      <div class="row g-3">
                        <div class="col-lg-3 col-md-3 col-sm-9 col-9 animated-div">
                            <div class="form-group">
                                <label for="InvoiceType" class="form-label fw-semi-bold">Invoice Type</label><span class="error-star">*</span>
                                <InputSelect @bind-Value="invoice.InvoiceTypeId" class="form-select form-rounded form-select-sm ">
                                    <option value="">Select Invoice Type</option>
                                    @foreach (var item in invoiceType_list)
                                        {
                                        <option value="@item.InvoiceTypeId">@item.InvoiceTypeName</option>
                                        }
                                </InputSelect>
                             
                                <ValidationMessage class="text-danger" For="@(() => invoice.InvoiceTypeId)" />
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-9 col-9 animated-div">
                            <div class="input-group">
                                <label for="customerMobileNo" class="form-label fw-semi-bold">Customer Mobile No</label><span class="error-star">*</span>

                                
                                    @*  <input  readonly name="customerMobileNo" type="text" class="form-control form-control-sm form-rounded "
                                       placeholder="customer mobile no" required aria-label="Input group example" id="inputField" aria-describedby="plusButton"> *@
                                <div class="input-group">

                                     <SearchComponent T="Customers"
                                                 Items="Customers_list"
                                                 DisplayProperty="obj => obj.MobileNo"
                                                 Placeholder="Search Cust"
                                                 InputSize="width:13rem;"
                                                 OnItemSelected="OnItemSelected"/>

                                    <div class="input-group-append">
                                        <button class="btn btn-sm btn-light" type="button" id="plusButton" data-bs-toggle="offcanvas"
                                        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">+</button>
                                    </div>
                                </div>
                                    <ValidationMessage class="text-danger" For="@(() => invoice.InvoiceNumber)" />
                                    @* <input type="text" id="inputField" class="form-control" placeholder="Enter value" aria-label="Enter value" > *@
                                   
                                
                                
                                @*  <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></button> *@
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-9 col-9 animated-div">
                            <div class="form-group">
                                <label for="name" class="form-label fw-semi-bold">Customer Email</label>
                                <input  type="text" class="form-control form-control-sm form-rounded fw-semi-bold"
                                @bind-value="CustomerEmail"
                                placeholder="Customer Email">
                            </div>
                               
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-9 col-9 animated-div">
                            <div class="form-group">
                                <label for="paymentType" class="form-label fw-semi-bold">Notification Send By</label><span class="error-star">*</span>
                                <InputSelect @bind-Value="invoice.NotificationById" class="form-select form-rounded form-select-sm ">
                                    <option value="">Select Notification</option>
                                    @foreach (var item in notificationBy_list)
                                        {
                                        <option value="@item.NotificationById">@item.NotificationByName</option>
                                        }
                                </InputSelect> 
                            </div>
                                <ValidationMessage class="text-danger" For="@(() => invoice.NotificationById)" />
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-9 col-9 animated-div">
                            <div class="form-group">
                                <label class="form-label fw-semi-bold">Date</label>
                                <InputDate class="form-control form-control-sm form-rounded fw-semi-bold"
                                     
                                       name="entryDate"  @bind-Value="invoice.InvoiceDateTime" 
                                       placeholder="Date"/>
                            </div>
                        </div>

                      
                        <div class="col-lg-3 col-md-3 col-sm-6 col-9 animated-div">
                            <div class="form-group">
                                <label for="salesBy" class="form-label fw-semi-bold">Seller</label>
                                <InputText @bind-Value="invoice.SalesByName" readonly name="salesBy" type="text" class="form-control form-control-sm form-rounded fw-semi-bold" placeholder="seller" required />
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-9 col-9 animated-div">
                            <div class="form-group">
                                <label for="paymentType" class="form-label fw-semi-bold">Payment Type</label><span class="error-star">*</span>
                                <InputSelect @bind-Value="invoice.PaymentTypeId" class="form-select form-rounded form-select-sm ">
                                    <option value="">Select Payment Type</option>
                                    @foreach (var item in PaymentTypes_list)
                                    {
                                        <option value="@item.PaymentTypeId">@item.PaymentTypesName</option>
                                    }
                                </InputSelect>
                            </div>
                                <ValidationMessage class="text-danger" For="@(() => invoice.PaymentTypeId)" />
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-9 col-9 animated-div">
                            <div class="form-group">
                                <label for="categorySelect" class="form-label fw-semi-bold">Category</label>
                                <select class="form-select form-rounded form-select-sm ">
                                    <option value="">Select Category</option>
                                    @foreach (var item in productCategory_list)
                                    {
                                        <option value="@item.ProdCtgId">@item.ProdCtgName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-lg-3 col-md-3 col-sm-9 col-9 animated-div">
                            <div class="form-group">
                                <label for="categorySelect" class="form-label fw-semi-bold">Sub Category</label>
                                <select class="form-select form-rounded form-select-sm ">
                                    <option value=""> Select Sub Category</option>
                                    @foreach (var item in productSubCategory_list)
                                    {
                                        <option value="@item.ProdSubCtgId">@item.ProdSubCtgName</option>
                                    }
                                </select>
                                  
                            </div>
                        </div >
                       
                        <div class="col-lg-3 col-md-3 col-sm-6 col-9 animated-div" >
                                <ProductSearcherByName Placeholder="Search for Name..." OnItemSelected="OnSelectProduct" />
                          @*   <div class="form-group">
                                <label for="chooseProduct" class="form-label fw-semi-bold">Choose Product</label><span class="error-star">*</span>
                                <div style="width: 13.5rem;" class="search-box" data-list='{"valueNames":["title"]}'>
                                    <div class="position-relative" data-bs-toggle="search" data-bs-display="static">
                                        <input class="form-control form-control-sm form-rounded search-input fw-semi-bold" type="search" placeholder="Search..." aria-label="Search" />
                                        <span class="fas fa-search search-box-icon"></span >
                                    </div>
                                    <div class="btn-close-falcon-container position-absolute end-0 top-50 translate-middle shadow-none" data-bs-dismiss="search">
                                        <button class="btn btn-link btn-close-falcon p-0" aria-label="Close"></button>
                                    </div>
                                    <div class="dropdown-menu border font-base start-0 mt-2 py-0 overflow-hidden w-100">
                                        <div class="scrollbar list py-3" style="max-height: 15rem;">

                                            <h6 class="dropdown-header fw-medium text-uppercase px-x1 fs-11 pt-0 pb-2">Products</h6>
                                           @foreach (var p in products)
                                            {
                                                  <a class="dropdown-item px-x1 py-2" @onclick="()=>OnSelectProduct(p)">
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar avatar-l status-online me-2">
                                                        <img class="rounded-circle" src="assets/img/team/1.jpg" alt="" />

                                                    </div>
                                                    <div class="flex-1">
                                                        <h6 class="mb-0 title">@p.ProdName</h6>
                                                        <p class="fs-11 mb-0 d-flex">Technext Limited</p>
                                                    </div>
                                                </div>
                                            </a>
                                            }
                                          
                                           
                                        </div>
                                        <div class="text-center mt-n3">
                                            <p class="fallback fw-semi-bold fs-8 d-none">No Result Found.</p>
                                        </div>
                                    </div>
                                </div >
                                
                            </div> *@
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-light" type="button" id="plusButton" data-bs-toggle="offcanvas"
                                        data-bs-target="#offcanvasRight-1" aria-controls="offcanvasRight-1">
                                    +
                                </button>
                            </div>
                        </div >
                        <div class="col-lg-3 col-md-3 col-sm-6 col-9 animated-div" >
                            <div class="form-group">
                                <label for="chooseSerialNumber" class="form-label fw-semi-bold">Choose Serial No</label><span class="error-star">*</span>
                                
                                <div style="width: 13.5rem;" class="search-box" data-list='{"valueNames":["title"]}'>
                                    <div class="position-relative" data-bs-toggle="search" data-bs-display="static" >
                                        <input class="form-control form-control-sm form-rounded search-input fw-semi-bold" type="search" placeholder="Search..." aria-label="Search" />
                                        <span class="fas fa-search search-box-icon"></span>

                                    </div>
                                    <div class="btn-close-falcon-container position-absolute end-0 top-50 translate-middle shadow-none" data-bs-dismiss="search">
                                        <button class="btn btn-link btn-close-falcon p-0" aria-label="Close"></button>
                                    </div>
                                    <div class="dropdown-menu border font-base start-0 mt-2 py-0 overflow-hidden w-100">
                                        <div class="scrollbar list py-3" style="max-height: 15rem;">

                                            <h6 class="dropdown-header fw-medium text-uppercase px-x1 fs-11 pt-0 pb-2">Members</h6><a class="dropdown-item px-x1 py-2" href="pages/user/profile.html">
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar avatar-l status-online me-2">
                                                        <img class="rounded-circle" src="assets/img/team/1.jpg" alt="" />

                                                    </div>
                                                    <div class="flex-1">
                                                        <h6 class="mb-0 title">Anna Karinina</h6>
                                                        <p class="fs-11 mb-0 d-flex">Technext Limited</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="dropdown-item px-x1 py-2" href="pages/user/profile.html">
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar avatar-l me-2">
                                                        <img class="rounded-circle" src="assets/img/team/2.jpg" alt="" />

                                                    </div>
                                                    <div class="flex-1">
                                                        <h6 class="mb-0 title">Antony Hopkins</h6>
                                                        <p class="fs-11 mb-0 d-flex">Brain Trust</p>
                                                    </div>
                                                </div>
                                            </a >
                                        </div>
                                        <div class="text-center mt-n3">
                                            <p class="fallback fw-semi-bold fs-8 d-none">No Result Found.</p>
                                        </div>
                                    </div>
                                </div >
                            </div>
                        </div >
                   
                    </div >
                        

                      <div class="row">
                        <div class="table-responsive scrollbar mt-4">
                            <table class="table table-sm mb-0 fs-10 table-view-tickets">
                                <thead class="thdchild">
                                    <tr>
                                        <th class="form-label fw-semi-bold">
                                           Image
                                        </th>
                                        <th scope="col" class="form-label fw-semi-bold">Category</th>
                                        <th scope="col" class="form-label fw-semi-bold">Name</th>
                                        <th scope="col" class="form-label fw-semi-bold">Quantity<span class="error-star"><strong class="bigger-asterisk">*</strong></span></th>
                                        <th scope="col" class="form-label fw-semi-bold">Unit</th>
                                        <th scope="col" class="form-label fw-semi-bold">Rate</th>
                                        <th scope="col" class="form-label fw-semi-bold">VAT(%)</th>
                                        <th scope="col" class="form-label fw-semi-bold">Discount(%)</th>
                                        <th scope="col" class="form-label fw-semi-bold">Amount</th>
                                        <th scope="col" class="form-label fw-semi-bold">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int indexx = 0;
                                    }
                                    @foreach (var itm in itemsList)
                                    {
                                        <tr>
                                            <td>
                                                <div class="col-auto">
                                                    <div class="avatar avatar-2xl">
                                                        <img class="rounded-circle" src="assets/img/products/1.jpg" alt="" />
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-sm form-rounded bold-input fw-semi-bold" placeholder="Category" readonly value="@itm.CategoryName">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-sm form-rounded bold-input fw-semi-bold" placeholder="Name" readonly value="@itm.ProductName">
                                            </td>
                                            <td>
                                                <input type="number" class="form-control form-control-sm form-rounded bold-input fw-semi-bold"
                                                placeholder="Quantity"  @bind="itm.Quantity" @bind:event="oninput" @onchange="() => OnChangeQuantity(itm)" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-sm form-rounded fw-semi-bold" readonly placeholder="Unit" @bind="@itm.Unit" >
                                            </td>
                                            <td>
                                                <input type="number" class="form-control form-control-sm form-rounded fw-semi-bold" placeholder="Rate" @bind="@itm.SellingPrice">
                                            </td>
                                            <td>
                                                <input type="number" readonly class="form-control form-control-sm form-rounded fw-semi-bold" placeholder="V(%)" @bind="@itm.VatPercentg">
                                            </td>
                                            <td>
                                                <input type="number" class="form-control form-control-sm form-rounded fw-semi-bold" placeholder="D(%)" @bind="@itm.DiscountPercentg">
                                            </td>
                                            <td>
                                                <input readonly type="number" class="form-control form-control-sm form-rounded bold-input fw-semi-bold"
                                                placeholder="Amount" @bind="itm.TotalPrice">
                                            </td>
                                            <td class="treeview">
                                                <div class="treeview-list-item" style="margin-top:auto;margin-right:0">
                                                      <a data-bs-toggle="collapse" href="#treeviewExample-1_@indexx" role="button" aria-expanded="false">
                                                     <p class="treeview-text">Serial </p>
                                                 </a>
                                                </div>
                                              
                                            </td>
                                            <td>
                                                <button title="Info" class="btn btn-sm a-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                    <i class="fa fa-info-circle" style="font-size:18px"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <button title="Delete" class="btn btn-sm btn-light"  @onclick="() => DeleteItem(itm)">
                                                    <i class="far fa-trash-alt fa-lg text-danger"></i>
                                                </button>
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td  colspan="12">
                                                <div class="treeview" id="treeviewExample_@indexx">
                                                    <div class="treeview-list-item">
                                                       
                                                        <div class="collapse treeview-list" id="treeviewExample-1_@indexx">
                                                            <div class="treeview-list-item">
                                                                <div class="table-responsive scrollbar row">
                                                                <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                                                        <table class="table table-hover">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th class="fw-semi-bold" scope="col">Product Name</th>
                                                                                    <th scope="col">Serial No</th>
                                                                                    <th scope="col">Supplier Org </th>
                                                                                    <th scope="col">Action</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr class="hover-actions-trigger">
                                                                                    <td class="align-middle text-nowrap">
                                                                                        <div class="d-flex align-items-center">
                                                                                            <div class="avatar avatar-xl">
                                                                                                <img class="rounded-circle" src="../../assets/img/team/4.jpg" alt="" />
                                                                                            </div>
                                                                                            <div class="ms-2">Ricky Antony</div>
                                                                                        </div>
                                                                                    </td>
                                                                                    <td class="align-middle">ricky@example.com</td>
                                                                                    <td class="align-middle text-nowrap">#33GBE2345</td>
                                                                                    <td class="w-auto">
                                                                                        <div class="btn-group btn-group hover-actions end-0 me-4">
                                                                                            <button class="btn btn-tertiary pe-2" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><span class="fas fa-edit"></span></button>
                                                                                            <button class="btn btn-tertiary ps-2" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><span class="fas fa-trash-alt text-danger"></span></button>
                                                                                        </div>
                                                                                    </td>

                                                                                </tr>

                                                                                <tr class="hover-actions-trigger">
                                                                                    <td class="align-middle text-nowrap">
                                                                                        <div class="d-flex align-items-center">
                                                                                            <div class="avatar avatar-xl">
                                                                                                <img class="rounded-circle" src="../../assets/img/team/4.jpg" alt="" />
                                                                                            </div>
                                                                                            <div class="ms-2">Ricky Antony</div>
                                                                                        </div>
                                                                                    </td>
                                                                                    <td class="align-middle">ricky@example.com</td>
                                                                                    <td class="align-middle text-nowrap">#33GBE2345</td>
                                                                                    <td class="w-auto">
                                                                                        <div class="btn-group btn-group hover-actions end-0 me-4">
                                                                                            <button class="btn btn-tertiary pe-2" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><span class="fas fa-edit"></span></button>
                                                                                            <button class="btn btn-tertiary ps-2" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><span class="fas fa-trash-alt text-danger"></span></button>
                                                                                        </div>
                                                                                    </td>

                                                                                </tr>

                                                                            </tbody>
                                                                        </table>
                                                                     </div>
                                                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                                        <label for="chooseSerialNumber" class="form-label fw-semi-bold">Add @itm.ProductName Serial Number</label>
                                                                        <SearchComponent T="Customers"
                                                                                         Items="Customers_list"
                                                                                         DisplayProperty="obj => obj.MobileNo"
                                                                                         Placeholder="Search Serial"
                                                                                         InputSize="width:13rem;"
                                                                                         OnItemSelected="OnItemSelected" />
                                                                    </div>
                                                             
                                                            
                                                            </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                           
                                        </tr>

                                        indexx++;

                                    }
                                </tbody>

                            </table>
                        </div >
                    </div>
                      <div class="row align-items-center mt-2">
                        <div class="col-auto d-flex">
                                <button class="btn btn-outline-primary btn-sm me-1 mb-1" type="submit">Create Invoice</button>

                                <a href="shipping_nd_payment" class="btn btn-outline-primary btn-sm me-1 mb-1" type="button">Shipping</a>
                             
                            <button class="btn btn-outline-secondary me-1 mb-1" type="button">Refresh</button>
                        </div >
                    </div >                
                    </EditForm>
                    <div class="row mt-4">
                        
                    </div >

                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                      <div class="form-group">
                        <label class="form-label fw-bolder">Total Quantity</label>
                        <InputNumber @bind-Value="invoice.TotalQnty" type="number" class="form-control form-control-sm form-rounded fw-bold" readonly placeholder="Total Quantity" />
                    </div>
                    <div class="form-group">
                        <label class="form-label fw-bolder">Total</label>
                        <InputNumber @bind-Value="invoice.TotalAmount" type="number" class="form-control form-control-sm form-rounded fw-bold" readonly placeholder="Total Amount" />
                    </div>
                    <div class="form-group">
                        <label class="form-label fw-bold">Vat</label>
                        <InputNumber  @bind-Value="invoice.TotalVat" type="number" class="form-control form-control-sm form-rounded fw-bold" readonly placeholder="Vat(%)"/>
                    </div>
                    <div class="form-group">
                        <label class="form-label fw-bold">Discount</label>
                        <InputNumber @bind-Value="invoice.TotalDiscount" type="number" class="form-control form-control-sm form-rounded fw-bold" readonly placeholder="Discount(%)"/>
                    </div>
                    <div class="form-group">
                        <label class="form-label fw-bold">Additional Discount</label>
                        <InputNumber @bind-Value="invoice.TotalAddiDiscount" type="number"
                        class="form-control form-control-sm form-rounded fw-bold" 
                        placeholder="Additional Discount" @oninput="OnChangeAddiDiscount"/>
                    </div>

                    <div class="form-group">
                        <label class="form-label fw-bolder">Total Payable</label>
                        <InputNumber @bind-Value="invoice.TotalPayable" type="number" class="form-control form-control-sm form-rounded fw-bold" placeholder="Total Payable"/>
                    </div>
                    <div class="form-group">
                        <label class="form-label fw-bolder">Receive</label>
                        <InputNumber @bind-Value="invoice.RecieveAmount" type="number" class="form-control form-control-sm form-rounded fw-bold" 
                        placeholder="Receive" @oninput="OnChangeReceiveAmount"/>
 
                    </div>
                    <div class="form-group">
                        <label class="form-label fw-bolder">Current Due</label>
                        <InputNumber @bind-Value="invoice.DueAmount" type="number"
                        class="form-control form-control-sm form-rounded fw-bold" placeholder="Current Due"/>
                    </div>
                </div >

                 

            </div>
        </div>

        <div class="border-bottom border-dashed my-5"></div>
        <div class="row">
            <div class="col-md-7 col-xl-12 col-xxl-7 px-md-3 mb-xxl-0 position-relative">
                <div class="d-flex">
                    <img class="me-3" src="../../assets/img/icons/shield.png" alt="" width="60" height="60" />
                    <div class="flex-1">
                        <h5 class="mb-2">Buyer/Customer Protection</h5>
                        <div class="form-check mb-0">
                            <input class="form-check-input" id="protection-option-1" type="checkbox" checked="checked" />
                            <label class="form-check-label mb-0" for="protection-option-1"> <strong>Full Refund </strong>If you don't <br class="d-none d-md-block d-lg-none" />receive your order</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" id="protection-option-2" type="checkbox" checked="checked" />
                            <label class="form-check-label mb-0" for="protection-option-2"> <strong>Full or Partial Refund, </strong>If the product is not as described in details</label>
                        </div><a class="fs-10 ms-3 ps-2" href="#!">Learn More<span class="fas fa-caret-right ms-1" data-fa-transform="down-2">    </span></a>
                    </div>
                </div>
                <div class="vertical-line d-none d-md-block d-xl-none d-xxl-block"> </div>
            </div>
            <div class="col-md-5 col-xl-12 col-xxl-5 ps-lg-4 ps-xl-2 ps-xxl-5 text-center text-md-start text-xl-center text-xxl-start">
                <div class="border-bottom border-dashed d-block d-md-none d-xl-block d-xxl-none my-4"></div>
                <div class="fs-7 fw-bold">All Total: <span class="text-primary">$3320</span></div>
                <a href="digital_payment" class="btn btn-success mt-3 px-5" type="submit">Confirm &amp; Pay</a>
                <p class="fs-10 mt-3 mb-0">By clicking <strong>Confirm & Pay </strong> button you agree to the <a href="#!">Terms &amp; Conditions</a></p>
            </div>
        </div>
    </div >
</div  >

<div class="modal fade" id="staticBackdrop" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg mt-6" role="document">
        <div class="modal-content border-0">
            <div class="position-absolute top-0 end-0 mt-3 me-3 z-1">
                <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <div class="card">
                    <div class="card-header bg-body-tertiary">
                        <h5 class="mb-0" data-anchor="data-anchor">Product details</h5>
                    </div>
                    
                            <div class="row">
                        <div  class="col-lg-4">

                            <div class="col">
                                            <h3 class="text-primary mt-4 mt-sm-0">Item</h3>
                                            <p class="fs-10 bold-text ">Vat Amount:</p>
                                            <p class="fs-10 bold-text ">Discount Amount:</p>
                                            <p class="fs-10 bold-text ">Date:</p>
                                            <p class="fs-10 bold-text ">Warranty:</p>
                                            <p class="fs-10 bold-text ">Link to Supplier:</p>
                                            <p class="fs-10 bold-text ">Remarks:</p>
                                            <p class="fs-10 bold-text ">Descriptions:</p>
                                            <p class="fs-10 bold-text ">Imported From:</p>
                                            <p class="fs-10 bold-text ">Category : </p>
                                          
                                        </div>
                                        @* <div class="col-sm-auto"><img class="timeline-item-media rounded" src="../../assets/img/gallery/2000.jpg" width="188" height="250" alt="" /></div> *@
                                   
                                </div>
                               <div class="col-lg-4">
                            <p class="fs-10 bold-text ">Sub Category:</p>
                            <p class="fs-10 bold-text ">Name/ Model:</p>
                            <p class="fs-10 bold-text ">Buying Price:</p>
                            <p class="fs-10 bold-text ">Selling Price:</p>
                            <p class="fs-10 bold-text ">Unit Type:</p>
                            <p class="fs-10 bold-text ">Opening Quantity:</p>
                            <p class="fs-10 bold-text ">Alert Quantity:</p>
                            <p class="fs-10 bold-text ">Vat (in %):</p>
                            <p class="fs-10 bold-text ">Discount(%):</p>
                        </div>
                                <div class="col-md-4">
                                    <div class=""><img class="" src="../../assets/img/gallery/2000.jpg" width="200" height="200" alt="" /></div>
                                </div>
                    </div>
                            
                       
                </div>
            </div>
        </div>
    </div>
</div >

 


@code {
    [Inject]
    InvoiceService _invoiceService { get; set; }
    Invoice invoice = new Invoice();//object or Model

    [Inject]
    InvoiceItemService _invoiceItemService { get; set; }
    InvoiceItems invoiceItem = new InvoiceItems();// 
    List<InvoiceItems> itemsList = new List<InvoiceItems>();

    [Inject]
    ProductService _productService { get; set; }
    List<Products> products = new List<Products>();

    [Inject]
    NotificationByService _notificationByService { get; set; }
    List<NotificationBy> notificationBy_list = new List<NotificationBy>();

    [Inject]
    InvoiceTypeService invoiceTypeService { get; set; }
    List<InvoiceType> invoiceType_list = new List<InvoiceType>();

    [Inject]
    ProductCategoryService productCategoryService { get; set; }
    List<ProductCategories> productCategory_list = new List<ProductCategories>();

    [Inject]
    ProductSubCategoryService productSubCategoryService { get; set; }
    List<ProductSubCategory> productSubCategory_list = new List<ProductSubCategory>();


    [Inject]
    PaymentTypesService paymentTypesService { get; set; }
    List<PaymentTypes> PaymentTypes_list = new List<PaymentTypes>();

    [Inject]
    CustomerService _customerService { get; set; }
    List<Customers> Customers_list = new List<Customers>();
    //Customers customer=  new Customers();

    private bool showSuccessAlert = false;
    private bool showDangerAlert = false;

    public string SuccessMessage { get; set; }
    public string DangerMessage { get; set; }

    private string errorMessage;

    private string CustomerEmail; 
    protected override async Task OnInitializedAsync()
    {
        invoiceType_list = (await invoiceTypeService.Get(null, null, null, null, 1, 1000)).ToList();
        notificationBy_list = (await _notificationByService.Get(null)).ToList();
        productCategory_list = (await productCategoryService.Get(null,null, null, null, 1, 1000)).ToList();
        productSubCategory_list = (await productSubCategoryService.Get(null, null, null, null, null, 1, 1000)).ToList();
        PaymentTypes_list = (await paymentTypesService.Get(null, null, null, null, 1, 1000)).ToList();
        products = (await _productService.Get(null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, 1, 1000)).ToList();
        Customers_list=(await _customerService.Get(null, null,null, null, null, null,null, 1, 1000)).ToList();
    }
    private void OnItemSelected(Customers customer)
    {
        invoice.CustomerID = customer.CustomerId;
        CustomerEmail = customer.Email;
    }
    
    private async Task SaveOrUpdate()
    {
        try
        { 
            invoice.BranchId = CompanyInfo.BranchId;
            invoice.InvoiceNumber = GenerateUniqueNumber();
            invoice.CurrencyId = CompanyInfo.CurrencyId;
            invoice.CustomerID = 1;
            if (invoice.InvoiceId == 0)
            {

                invoice.EntryDateTime = DateTimeHelper.CurrentDateTime();
                invoice.EntryBy = UserInfo.UserId;


                invoice.InvoiceId = await _invoiceService.SaveOrUpdate(invoice);
                if (invoice.InvoiceId > 0)
                {
                    foreach (var item in itemsList)
                    {
                        item.InvoiceId = invoice.InvoiceId;
                        await  _invoiceItemService.SaveOrUpdate(item);
                    }
                    showSuccessAlert = true;
                    SuccessMessage = MessageManager.SaveSuccess;
                    StateHasChanged(); // Notify Blazor to re-render the component
                                       //Hide the alert after 1 seconds

                    await Task.Delay(1000);
                    showSuccessAlert = false;
                }
                else if (invoice.InvoiceId == -1)
                {
                    showDangerAlert = true;
                    DangerMessage = $"{invoice.InvoiceNumber} {MessageManager.Exist}";
                }
                else
                {
                    showDangerAlert = true;
                    DangerMessage = MessageManager.SaveFaild;
                }
            }
             
             
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
        
    }
    private async Task OnSelectProduct(Products product)
    {
        itemsList.Add(new InvoiceItems
        {

            CategoryName=product.ProdCtgName,
            ProductName=product.ProdName,
            ProductId = product.ProductId,
            Quantity = 0,
            Unit=product.UnitName,
            SellingPrice = product.SellingPrice,
            VatPercentg=product.VatPercent,
            DiscountPercentg=product.DiscountPercentg,
            TotalPrice=0
            // Add other properties as necessary
        });

        // Clear the current item after adding
        invoiceItem = new InvoiceItems();
    }
    private void DeleteItem(InvoiceItems item)
    {
        itemsList.Remove(item);
    }
    private void OnChangeQuantity(InvoiceItems item)
    {
        if (item.Quantity > 0 && item.SellingPrice > 0)
        {
            // Calculate the total price based on quantity and selling price
            item.TotalPrice = item.Quantity * item.SellingPrice;

            // If there are discounts or VAT, apply them as needed
            if (item.DiscountPercentg > 0)
            {
                // Apply discount
                //  var discountAmount = item.TotalPrice * (item.DiscountPercentg / 100);
                //  item.TotalPrice -= discountAmount;
            }

            if (item.VatAmount > 0)
            {
                // Apply VAT
                var vatAmount = item.TotalPrice * (item.VatAmount / 100);
                //   item.TotalPrice += vatAmount;
            }

            CalculateTotalInvoiceAmount();
        }


    }
    private void CalculateTotalInvoiceAmount()
    {
        invoice.TotalQnty = itemsList.Sum(item => item.Quantity);
        invoice.TotalAmount = itemsList.Sum(item => item.TotalPrice);
        invoice.TotalVat = itemsList.Sum(item => item.VatPercentg);
        invoice.TotalDiscount = itemsList.Sum(item => item.DiscountPercentg);
        invoice.TotalPayable = (invoice.TotalAmount + invoice.TotalVat) - invoice.TotalDiscount;

    }

    private void OnChangeAddiDiscount(ChangeEventArgs e)
    {
        // You can access the new value using e.Value
        decimal.TryParse(e.Value?.ToString(), out var discount);
        invoice.TotalAddiDiscount = discount;
        invoice.TotalPayable = invoice.TotalAmount + invoice.TotalVat - invoice.TotalDiscount - invoice.TotalAddiDiscount;
    }
    private void OnChangeReceiveAmount(ChangeEventArgs e)
    {
        decimal.TryParse(e.Value?.ToString(), out var recieveAmount);
        invoice.RecieveAmount = recieveAmount;
        invoice.TotalPayable = invoice.TotalAmount + invoice.TotalVat - invoice.TotalDiscount - invoice.TotalAddiDiscount;
      invoice.DueAmount=invoice.TotalPayable - invoice.RecieveAmount;
    }
    public string GenerateUniqueNumber()
 {
    Random random = new Random();
    int uniqueNumber = random.Next(1000, 10000); // Generates a number between 1000 and 9999
    return $"#{uniqueNumber}";
 }

}