@page "/warehouse_info"
@using Pms.Models.Entity.Setting

<div class="card" id="ticketsTable">
    <div class="card-header border-bottom border-200 px-0">
        <div class="d-lg-flex justify-content-between">
            <div class="row flex-between-center gy-2 px-x1">
                <div class="col-auto pe-0">

                    <h5 class="mb-0">
                        Warehouse Info
                    </h5>
                </div>
                <div class="col-auto pe-0">

                    <div class="input-group input-search-width">
                        <input class="form-control form-control-sm form-rounded shadow-none" type="search" placeholder="Search  by name" aria-label="search" @bind="WarehouseNameSearch" />
                        <button type="button" class="btn btn-sm btn-outline-secondary border-300 hover-border-secondary form-rounded" @onclick="()=>LoadWare()">
                            <span class="fa fa-search fs-10"></span>
                        </button>


                    </div>


                </div>
                <div class="col-auto pe-0">
                    <button class="btn btn-falcon-default btn-sm ms-sm-1" type="button" @onclick="()=>OnRefresh()"><span class="fas fa-redo"></span></button>
                </div>
            </div>
            <div class="border-bottom border-200 my-3"></div>
            <div class="d-flex align-items-center justify-content-between justify-content-lg-end px-x1">


                <div class="d-flex align-items-center" id="table-ticket-replace-element">
                    <div class="dropdown">
                        <button class="btn btn-sm btn-falcon-default dropdown-toggle dropdown-caret-none" type="button" id="dashboard-layout" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="d-none d-sm-inline-block d-xl-none d-xxl-inline-block me-1 table-layout">Table View</span><span class="fas fa-chevron-down" data-fa-transform="shrink-3 down-1"></span></button>
                        <div class="dropdown-menu dropdown-toggle-item dropdown-menu-end border py-2" aria-labelledby="dashboard-layout" role="tablist"><a class="dropdown-item active" id="tableView" data-bs-toggle="tab" href="#table-view" role="tab" aria-controls="table-view">Table View</a><a class="dropdown-item" id="cardView" data-bs-toggle="tab" href="#card-view" role="tab" aria-controls="card-view">Card View</a></div>
                    </div>


                    <a class="btn btn-falcon-default btn-sm mx-2" href="warehouse_entryV2"><span class="fas fa-plus" data-fa-transform="shrink-3"></span><span class="d-none d-sm-inline-block d-xl-none d-xxl-inline-block ms-1">New</span></a>
                </div>
            </div>
        </div>
    </div>


    <div class="tab-content" id="ticketViewContent">

        @if (isLoading)
        {
            <p>Loading...</p>
        }
        else if (errorMessage != null)
        {
            <p>An error occurred: @errorMessage</p>
        }
        else
        {
            <div class="fade tab-pane active show" id="table-view" role="tabpanel" aria-labelledby="tableView" data-list='{"valueNames":["client","subject","status","priority","agent"],"page":6,"pagination":true}'>
                <div class="card-body p-0">
                    <div class="table-responsive scrollbar">
                        <table class="table table-sm mb-0 fs-10 table-view-tickets">
                            <thead class="bg-body-tertiary">
                                <tr>
                                    @* <th class="py-2 fs-9 pe-2" style="width: 28px;">
                                <div class="form-check d-flex align-items-center">
                                Action  <input class="form-check-input" id="checkbox-bulk-table-tickets-select" type="checkbox" data-bulk-select='{"body":"table-ticket-body","actions":"table-ticket-actions","replacedElement":"table-ticket-replace-element"}' />
                                </div>
                                </th> *@
                                    <th class="text-800 sort align-middle ps-4" data-sort="client">Action</th>
                                    <th class="text-800 sort align-middle ps-2" data-sort="client">Warehouse Name</th>
                                    <th class="text-800 sort align-middle ps-4" data-sort="client">Manager Name</th>
                                 
                                    <th class="text-800 sort align-middle ps-4" data-sort="client">Email</th>
                                    <th class="text-800 sort align-middle ps-2" data-sort="client">Phone Number</th>
                                    <th class="text-800 sort align-middle ps-2" data-sort="client">Location</th>
                                    <th class="text-800 sort align-middle ps-2" data-sort="client">Capacity</th>
                                    <th class="text-800 sort align-middle ps-4" data-sort="client">Operating Hours</th>
                                  


                                </tr>
                            </thead>
                            <tbody class="list" id="table-ticket-body">
                                @foreach (var item in warehouse)
                                {
                                    <tr>
                                        <td class="align-middle fs-9 py-3">
                                            <div class="form-check mb-0">

                                                @* <a @onclick="()=>EditLoadData(item)" class="btn btn-falcon-default btn-sm " data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><span class="fas fa-external-link-alt" data-fa-transform="shrink-3"></span><span class="d-none d-sm-inline-block d-xl-none d-xxl-inline-block ms-1"></span></a> *@
                                                <a @onclick="()=>DeleteItem(item.WarehouseId)" class="btn btn-falcon-default btn-sm ">
                                                    <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                                                </a>
                                                <a class="btn btn-falcon-default btn-sm" href="warehouse_entryV2/@item.WarehouseKey"><span class="fas fa-external-link-alt" data-fa-transform="shrink-3"></span><span class="d-none d-sm-inline-block d-xl-none d-xxl-inline-block ms-1"></span></a>
                                            </div>

                                        </td>

                                        <td class="align-middle fs-9 py-3">
                                            <div class="d-flex align-items-center gap-2 position-relative">

                                                @item.WarehouseName


                                            </div>
                                        </td>
                                        <td class="align-middle fs-9 py-3">
                                            <div class="d-flex align-items-center gap-2 position-relative">

                                                @item.ManagerName


                                            </div>
                                        </td>
                                        <td class="align-middle fs-9 py-3">
                                            <div class="d-flex align-items-center gap-2 position-relative">

                                                @item.Email


                                            </div>
                                        </td>
                                        <td class="align-middle fs-9 py-3">
                                            <div class="d-flex align-items-center gap-2 position-relative">

                                                @item.PhoneNumber


                                            </div>
                                        </td>
                                        <td class="align-middle fs-9 py-3">
                                            <div class="d-flex align-items-center gap-2 position-relative">

                                                @item.LocationId


                                            </div>
                                        </td>
                                        <td class="align-middle fs-9 py-3">
                                            <div class="d-flex align-items-center gap-2 position-relative">

                                                @item.Capacity


                                            </div>
                                        </td>
                                        <td class="align-middle fs-9 py-3">
                                            <div class="d-flex align-items-center gap-2 position-relative">

                                                @item.OperatingHours


                                            </div>
                                        </td>
                                        
                                        

                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="text-center d-none" id="tickets-table-fallback">
                            <p class="fw-bold fs-8 mt-3">No ticket found</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="fade tab-pane" id="card-view" role="tabpanel" aria-labelledby="cardView" data-list='{"valueNames":["client","subject","status","priority","agent"],"page":4,"pagination":true}'>
                <div class="card-body p-0">
                    <div class="form-check d-none">
                        <input class="form-check-input" id="checkbox-bulk-card-tickets-select" type="checkbox" data-bulk-select='{"body":"card-ticket-body","actions":"table-ticket-actions","replacedElement":"table-ticket-replace-element"}' />
                    </div>
                    <div class="list bg-body-tertiary p-x1 d-flex flex-column gap-3" id="card-ticket-body">
                        @foreach (var item in warehouse)
                        {
                            <div class="bg-white dark__bg-1100 d-md-flex d-xl-inline-block d-xxl-flex align-items-center p-x1 rounded-3 shadow-sm card-view-height">
                                <div class="d-flex align-items-start align-items-sm-center">
                                    <div class="form-check me-2 me-xxl-3 mb-0">

                                        @*  <a @onclick="()=>EditLoadData(item)" class="btn btn-falcon-default btn-sm" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><span class="fas fa-external-link-alt" data-fa-transform="shrink-3"></span><span class="d-none d-sm-inline-block d-xl-none d-xxl-inline-block ms-1"></span></a> *@
                                        <a @onclick="()=>DeleteItem(item.WarehouseId)" class="btn btn-falcon-default btn-sm ">
                                            <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                                        </a>
                                        <a class="btn btn-falcon-default btn-sm" href="warehouse_entryV2/@item.WarehouseKey"><span class="fas fa-external-link-alt" data-fa-transform="shrink-3"></span><span class="d-none d-sm-inline-block d-xl-none d-xxl-inline-block ms-1"></span></a>
                                    </div>

                                    <a class="d-none d-sm-block" href="warehouse_entryV2">

                                    </a>
                                    <div class="ms-1 ms-sm-3">
                                        <p class="fw-semi-bold mb-3 mb-sm-2">  @item.WarehouseName</p>

                                    </div>
                                </div>


                            </div>
                        }


                    </div>
                    <div class="text-center d-none" id="tickets-card-fallback">
                        <p class="fw-bold fs-8 mt-3">No ticket found</p>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="pagination d-none"></div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <span class="d-none d-sm-inline-block me-2 fs-10">page @currentPage of @totalPages, Total Record @TotalRecord </span>

                            </div>
                            <div class="col-md-2">

                                <PageSizeSelection SelectedPageSize="@PageSize" SelectedPageSizeChanged="HandlePageSizeChanged" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-auto d-flex justify-content-end">

                            <PaginationV2 TotalPages="totalPages" CurrentPage="currentPage" OnPageChange="ChangePage" />

                        </div>
                    </div>

                </div>

            </div>
        }
    </div>


</div>


@code {
    private bool showOverlay = false;

    private string overlayDisplay => showOverlay ? "block" : "none";

    private void ToggleOverlay()
    {
        showOverlay = !showOverlay;
    }
    // private string DisplayView = "block";
    // private string AddView = "none";
    // private void ToggleVisibility()
    // {
    //     DisplayView = (DisplayView == "block") ? "none" : "block";
    //     AddView = (AddView == "block") ? "none" : "block";
    // }

    [Inject]
    private NavigationManager NavigationManager { get; set; }


    [Inject]
    protected IJSRuntime JSRuntime { get; set; }

    [Inject]
    WarehouseService warehouseService { get; set; }

    List<Warehouse>warehouse = new List<Warehouse>();

    private bool isLoading = true;

    private int PageSize { get; set; } = 5; // Number of items per page

    int totalPages { get; set; }

    int currentPage = 1; // Example current page

    private string errorMessage;

    private int TotalRecord { get; set; }

    public string? WarehouseNameSearch { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadWare();

    }

    private void NavigateToCreatePage()
    {
        NavigationManager.NavigateTo("/new_experience");
    }


    private async Task LoadWare()
    {
        try
        {
            if (WarehouseNameSearch == "") { WarehouseNameSearch = null; }
            warehouse = (await warehouseService.Get(null, null, WarehouseNameSearch, null, null, null, null, null, null, currentPage, PageSize)).ToList();
            if (warehouse.Count > 0)
            {
                TotalRecord = warehouse[0].total_row;
                //  totalPages = TotalRecord / PageSize;
                totalPages = (int)Math.Ceiling((double)TotalRecord / PageSize);
            }
            else
            {
                TotalRecord = 0;
                totalPages = 0;
            }

        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
        finally
        {
            isLoading = false;
            StateHasChanged(); // Ensure UI reflects changes
        }
    }
    public async void ChangePage(int pageNumber)
    {
        currentPage = pageNumber;
        await LoadWare();

    }
    void HandlePageSizeChanged(int newSize)
    {
        PageSize = newSize;
        ChangePage(1);

    }
    private async void OnRefresh()
    {
        WarehouseNameSearch = null;
        await LoadWare();
    }

    // private async void EditLoadData(Pms.Models.Entity.Setting.PromoOrCupponCode rls)
    // {
    //     promoOrCupponCode = rls;
    // }
    private async Task DeleteItem(long WarehouseId)
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("showDeleteConfirmation");
        if (confirmed)
        {
            try
            {
                bool result = await warehouseService.Delete(WarehouseId);
                if (result)
                {
                    await JSRuntime.InvokeVoidAsync("showSuccessMessage");
                    await LoadWare();
                }
                else
                {
                    errorMessage = $"{MessageManager.DeleteFaild} {WarehouseId}.";
                }
            }
            catch (Exception ex)
            {
                errorMessage = ex.Message;
            }
        }
        else
        {

        }
    }

}
